
# Default ignored files
.idea
.env/
*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
!/.idea/
!/venv/
!/.env/
!/vertex-omnichannel-ga-integration.iml
!/lambda-layers/
/vertex-omnichannel-ga-integration.iml
!/lambda-layers/
/.idea/
!/.cdk_env/
/lib/
/env/
/cdk.out/
/.cdk_env/
/lambda-layers/
/out/
/cdk.context.json
/src/ga-gravity-ai-integration-lambda/data/
/src/ga-integration-lambda/data/
/vertex-omnichannel-aws-resources.iml
/omnichannelstack/__pycache__/

# CDK asset staging directory
.cdk.staging
cdk.out
